# Dependencies
/node_modules
/.pnp
.pnp.js

# Testing
/coverage

# Next.js build outputs
/.next/
/out/
/build

# Local environment & secret credentials (NEVER commit to git)
.env*.local
.env
!.env.example

# Out of scope / unnecessary docs
docs/old_files_not_in_scope/

# Debug and package manager logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Misc / OS files
.DS_Store
*.pem

# TypeScript
*.tsbuildinfo
next-env.d.ts

# Vercel
.vercel
